{% extends "base.html" %}
{% load form_tags %}

{%block content%}

<body>
    {%if user.is_authenticated%}
    <div class="container" style="width: 50%; margin-top: 50px;">
        <h2>Welcome '{{user.username}}'!</h2>
    </div>

    {%else%}
        <div class="container" style="width: 50%; margin-top: 50px;">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {%if form.errors %}
                <p style="color: red;">Your username and password didn't match. Please try again.</p>
                {% endif %}
                {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control" }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {%endif%}
</body>
{%endblock%}